{% extends "admin/change_form.html" %}
{% load i18n unfold %}

{% block object-tools-items %}
    {{ block.super }}
    {% if faaliyet_raporu_pdf_url %}
        {% include "unfold/helpers/tab_action.html" with title="Faaliyet raporu (PDF)" link=faaliyet_raporu_pdf_url icon="picture_as_pdf" %}
    {% endif %}
    {% if istasyon_sayim_url %}
        {% include "unfold/helpers/tab_action.html" with title="İstasyon sayımı" link=istasyon_sayim_url icon="qr_code_scanner" %}
    {% endif %}
{% endblock %}
